Repository KateGoncharik/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint, prettier --write

refactor: application code refactoring (EA-159)
  src/app/components/footer.ts
  src/app/helpers/catalog.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/pages/catalog/category-page.ts
  src/app/pages/catalog/product-page.ts
  src/app/pages/service-pages/add-address-page.ts
  src/app/pages/service-pages/cart-page.ts
  src/app/pages/service-pages/edit-password-page.ts
  src/app/pages/service-pages/login-page.ts
  src/app/pages/service-pages/user-page.ts
  src/app/sdk/requests.ts
  src/app/validation/login-form-validator.ts
  src/app/validation/validation-registration-form.ts
Due: npm run lint, prettier --write

feat: add content to main page (EA-160)
  src/app/components/filters-block.ts
  src/app/components/footer.ts
  src/app/components/product-card.ts
  src/app/helpers/build-categories-object.ts
  src/app/helpers/loading.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/pages/catalog/category-page.ts
  src/app/pages/main-page.ts
  src/app/pages/service-pages/cart-page.ts
  src/app/sdk/requests.ts
  src/app/templates/page.ts
  src/styles/404-page.scss
  src/styles/catalog-main.scss
  src/styles/general.scss
  src/styles/main-page.scss
  src/styles/registration-form.scss
Due: npm run lint, stylelint, prettier --write

refactor: application code refactoring №2 (EA-159)
  src/app/app.ts
  src/app/components/burger.ts
  src/app/components/filters-block.ts
  src/app/components/pagination.ts
  src/app/components/product-card.ts
  src/app/pages/about-us.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/pages/catalog/product-page.ts
  src/app/pages/service-pages/add-address-page.ts
  src/app/pages/service-pages/cart-page.ts
  src/app/pages/service-pages/edit-password-page.ts
  src/app/pages/service-pages/login-page.ts
  src/app/pages/service-pages/registration-page.ts
  src/app/pages/service-pages/user-page.ts
  src/app/validation/validation-registration-form.ts
Due: npm run lint, prettier --write

refactor: change for review (EA-159)
  src/app/components/burger.ts
  src/app/components/header.ts
  src/app/helpers/toggle-icons-state.ts
  src/app/helpers/toggle-inputs-state.ts
  src/app/helpers/toggle-password-visibility.ts
  src/app/helpers/toggle-save-button-state.ts
  src/app/helpers/toggle-validation-state.ts
  src/app/helpers/toggls.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/pages/service-pages/cart-page.ts
  src/app/pages/service-pages/edit-password-page.ts
  src/app/pages/service-pages/user-page.ts
  src/app/sdk/requests.ts
  src/app/templates/page.ts
  src/app/types/enums.ts
  src/app/validation/login-form-validator.ts
Due: npm run lint, prettier --write

refactor: change requests for review (EA-159)
  src/app/sdk/requests.ts
Due: npm run lint, prettier --write

fix: correct contributors
  README.md
  package.json
Due: prettier --write

fix: fix error with possibly nullish value
  src/app/pages/main-page.ts
Due: npm run lint, prettier --write

feat: update api params to match the new commercetools account
  src/app/pages/main-page.ts
  src/app/sdk/params.ts
  src/styles/main-page.scss
Due: npm run lint, stylelint, prettier --write

Path conditions:
  npm run lint: any of: *.ts
  stylelint: any of: *.{css,scss}
  prettier --write: any of: *
