Repository KateGoncharik/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, stylelint

feat: add favicon(EA-117)
  src/assets/icons/favicon.png
  webpack.config.js
Due: none

refactor: change code for review (EA-52)
  src/app/pages/service-pages/registration-page.ts
  src/app/validation/schemas/schemas-registration-form.ts
  src/app/validation/validation-registration-form.ts
Due: npm run lint, prettier --write

feat: add show password (EA-52)
  src/app/pages/service-pages/registration-page.ts
  src/app/validation/validation-registration-form.ts
Due: npm run lint, prettier --write

refactor: change for review (EA-52)
  src/app/types/enums.ts
  src/app/validation/validation-registration-form.ts
Due: npm run lint, prettier --write

refactor: change № 2 for review (EA-52)
  src/app/types/enums.ts
  src/app/validation/schemas/schemas-registration-form.ts
  src/app/validation/validation-registration-form.ts
Due: npm run lint, prettier --write

refactor: change regex validation (EA-52)
  src/app/validation/schemas/schemas-registration-form.ts
Due: npm run lint, prettier --write

fix: redraw header on sucsessful login
  src/app/pages/service-pages/login-page.ts
Due: npm run lint, prettier --write

refactor: make logic more clear
  src/app/helpers/draw-header.ts
  src/app/pages/service-pages/login-page.ts
Due: npm run lint, prettier --write

fix: correct navigation
  src/app/components/header.ts
  src/app/helpers/draw-header.ts
  src/app/pages/service-pages/login-page.ts
Due: npm run lint, prettier --write

feat: add logout for burger-menu
  src/app/components/burger.ts
  src/app/components/header.ts
  src/app/helpers/render-header.ts
  src/app/pages/service-pages/login-page.ts
  src/app/validation/schemas/login-form-schema.ts
Due: npm run lint, prettier --write

refactor: remove code duplicating
  src/app/components/burger.ts
  src/app/components/header.ts
Due: npm run lint, prettier --write

feat: create catalog page and add links to it (EA-125)
  src/app/app.ts
  src/app/components/burger.ts
  src/app/components/header.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/router.ts
  src/app/types/route.ts
Due: npm run lint, prettier --write

fix: fix-cross-check-bugs
  src/app/sdk/requests.ts
  src/styles/login-form.scss
  src/styles/validation-registration-form.scss
Due: npm run lint, prettier --write, stylelint

refactor: format files with prettier
  .eslintrc.json
  .github/pull_request_template.md
  README.md
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  src/app/pages/service-pages/registration-page.ts
  src/app/types/enums.ts
  src/app/validation/schemas/schemas-registration-form.ts
  src/app/validation/validation-registration-form.ts
  src/assets/animation/404-anim.json
  src/index.html
  tsconfig.json
Due: npm run lint, prettier --write

fix: change header after registration
  src/app/validation/validation-registration-form.ts
Due: npm run lint, prettier --write

fix: make redirects working without page reload
  src/app/components/burger.ts
  src/app/pages/service-pages/login-page.ts
  src/app/router.ts
  src/app/validation/validation-registration-form.ts
Due: npm run lint, prettier --write

Revert "fix: change header after registration"
  src/app/validation/validation-registration-form.ts
Due: npm run lint, prettier --write

Revert "Merge branch 'release/login-registration-main' of https://github.com/KateGoncharik/eCommerce-Application into release/login-registration-main"
  src/app/sdk/requests.ts
  src/styles/login-form.scss
  src/styles/validation-registration-form.scss
Due: npm run lint, prettier --write, stylelint

Revert "refactor: format files with prettier"
  .eslintrc.json
  .github/pull_request_template.md
  README.md
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  src/app/pages/service-pages/registration-page.ts
  src/app/types/enums.ts
  src/app/validation/schemas/schemas-registration-form.ts
  src/app/validation/validation-registration-form.ts
  src/assets/animation/404-anim.json
  src/index.html
  tsconfig.json
Due: npm run lint, prettier --write

refactor: format files with prettier (EA-126)
  .eslintrc.json
  .github/pull_request_template.md
  README.md
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  src/app/pages/service-pages/registration-page.ts
  src/app/types/enums.ts
  src/app/validation/schemas/schemas-registration-form.ts
  src/app/validation/validation-registration-form.ts
  src/assets/animation/404-anim.json
  src/index.html
  tsconfig.json
Due: npm run lint, prettier --write

fix: errors from server
  src/app/sdk/requests.ts
  src/styles/login-form.scss
  src/styles/validation-registration-form.scss
Due: npm run lint, prettier --write, stylelint

feat: add requset data
  src/app/sdk/requests.ts
Due: npm run lint, prettier --write

feat: add product cards to the catalog page (EA-99, EA-100, EA-104)
  src/app/components/product-card.ts
  src/app/helpers/products.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/sdk/requests.ts
  src/app/types/products.ts
  src/styles/catalog.scss
  src/styles/header.scss
  src/styles/main.scss
Due: npm run lint, prettier --write, stylelint

feat: create user page, show current information(EA-124, EA-112)
  src/app/app.ts
  src/app/pages/service-pages/registration-page.ts
  src/app/pages/service-pages/user-profile.ts
  src/app/router.ts
  src/app/sdk/requests.ts
  src/app/state.ts
  src/app/types/enums.ts
  src/app/types/route.ts
  src/app/validation/schemas/schemas-registration-form.ts
  src/app/validation/validation-registration-form.ts
  src/assets/icons/avatar-boy.png
  src/assets/icons/avatar-girl.png
  src/styles/main.scss
  src/styles/user-page.scss
  src/styles/validation-registration-form.scss
Due: npm run lint, prettier --write, stylelint

fix: remove unnecesary function
  src/app/types/enums.ts
  src/app/validation/schemas/schemas-registration-form.ts
Due: npm run lint, prettier --write

feat: toggle inputs status
  src/app/edit/edit-user-page.ts
  src/app/pages/service-pages/user-profile.ts
  src/app/validation/validation-registration-form.ts
  src/styles/user-page.scss
Due: npm run lint, prettier --write, stylelint

feat: request product
  src/app/sdk/requests.ts
  src/app/types/data-products.ts
Due: npm run lint, prettier --write

Revert "feat: toggle inputs status"
  src/app/edit/edit-user-page.ts
  src/app/pages/service-pages/user-profile.ts
  src/app/validation/validation-registration-form.ts
  src/styles/user-page.scss
Due: npm run lint, prettier --write, stylelint

feat: add product page (EA-107)
  src/app/pages/catalog/product-page.ts
  src/app/sdk/requests.ts
  src/app/types/data-product.ts
  src/app/types/data-products.ts
  src/styles/main.scss
  src/styles/product.scss
Due: npm run lint, prettier --write, stylelint

fix: correct work with localStorage, remove extra logic
  src/app/components/burger.ts
  src/app/components/header.ts
  src/app/helpers/get-avatar-by-gender.ts
  src/app/helpers/get-user-gender.ts
  src/app/pages/service-pages/user-profile.ts
  src/app/sdk/requests.ts
  src/app/state.ts
  src/app/validation/validation-registration-form.ts
  src/styles/user-page.scss
Due: npm run lint, prettier --write, stylelint

fix: move all localStorage operations in one file
  src/app/components/burger.ts
  src/app/components/header.ts
  src/app/helpers/get-user-gender.ts
  src/app/pages/service-pages/user-profile.ts
  src/app/router.ts
  src/app/sdk/requests.ts
  src/app/state.ts
Due: npm run lint, prettier --write

fix: move getAvatarByGender, change getUser
  src/app/helpers/get-avatar-by-gender.ts
  src/app/pages/service-pages/user-profile.ts
  src/app/sdk/requests.ts
  src/app/state.ts
Due: npm run lint, prettier --write

fix: change getUser
  src/app/state.ts
Due: npm run lint, prettier --write

refactor: change for review (EA-107)
  src/app/sdk/requests.ts
Due: npm run lint, prettier --write

feat: add category navigation (EA-106)
  src/app/components/product-card.ts
  src/app/helpers/catalog.ts
  src/app/helpers/products.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/router.ts
  src/app/sdk/requests.ts
  src/app/types/catalog.ts
  src/app/types/products.ts
  src/index.html
  src/styles/catalog.scss
Due: npm run lint, prettier --write, stylelint

feat: add slider img (EA-108)
  package-lock.json
  package.json
  src/app/helpers/slider.ts
  src/app/pages/catalog/product-page.ts
  src/app/sdk/requests.ts
  src/app/types/data-product.ts
  src/styles/main.scss
  src/styles/slider.scss
Due: npm run lint, prettier --write, stylelint

refactor: change for review
  src/app/helpers/slider.ts
  src/app/pages/catalog/product-page.ts
Due: npm run lint, prettier --write

refactor: change for review (EA-108)
  src/app/helpers/slider.ts
  src/app/pages/catalog/product-page.ts
Due: npm run lint, prettier --write

refactor: change style slider (EA-108)
  src/styles/slider.scss
Due: stylelint

feat: add price (EA-109)
  src/app/pages/catalog/product-page.ts
  src/app/sdk/requests.ts
  src/app/types/data-product.ts
  src/styles/product.scss
  src/styles/slider.scss
Due: npm run lint, prettier --write, stylelint

Path conditions:
  npm run lint: any of: *.ts
  prettier --write: any of: *.ts
  stylelint: any of: *.{css,scss}
