Repository KateGoncharik/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["npm run lint"],
  "*.{css,scss}": "stylelint",
  "*": "prettier --write"
}

refactor: change code EA-139
  src/app/pages/catalog/product-page.ts
Due: npm run lint, prettier --write

feat: final change add product to cart EA-139
  src/app/pages/catalog/product-page.ts
  src/app/sdk/requests.ts
Due: npm run lint, prettier --write

refactor: change for review (EA-139)
  src/app/pages/catalog/product-page.ts
  src/app/sdk/requests.ts
  src/styles/product.scss
Due: npm run lint, stylelint, prettier --write

feat: add counter to catalog(EA-155)
  src/app/components/header.ts
  src/app/components/product-card.ts
  src/app/helpers/update-items-amount.ts
  src/app/pages/service-pages/cart-page.ts
  src/styles/basket-page.scss
  src/styles/main.scss
Due: npm run lint, stylelint, prettier --write

refactor: correct method name
  src/app/pages/service-pages/cart-page.ts
Due: npm run lint, prettier --write

refactor: change for review #2 (EA-139)
  src/app/pages/catalog/product-page.ts
  src/app/sdk/requests.ts
Due: npm run lint, prettier --write

refactor: change name func parameter EA-139
  src/app/sdk/requests.ts
Due: npm run lint, prettier --write

feat: add remove product from cart (EA-140)
  src/app/components/product-card.ts
  src/app/pages/catalog/product-page.ts
  src/app/pages/service-pages/cart-page.ts
  src/app/sdk/requests.ts
  src/styles/basket-page.scss
Due: npm run lint, stylelint, prettier --write

refactor: remove excess api request function
  src/app/components/product-card.ts
  src/app/sdk/requests.ts
Due: npm run lint, prettier --write

fix: change code for delete product (EA-140)
  src/app/components/product-card.ts
  src/app/pages/catalog/product-page.ts
  src/app/pages/service-pages/cart-page.ts
  src/app/sdk/requests.ts
  src/styles/basket-page.scss
Due: npm run lint, stylelint, prettier --write

refactor: change for review EA-140
  src/app/pages/catalog/product-page.ts
  src/app/sdk/requests.ts
Due: npm run lint, prettier --write

refactor: remove extra styles and variable
  src/app/components/header.ts
  src/app/components/product-card.ts
  src/app/helpers/update-items-amount.ts
  src/styles/cart-page.scss
  src/styles/header.scss
  src/styles/main.scss
Due: npm run lint, stylelint, prettier --write

fix: change products amount
  src/app/helpers/update-items-amount.ts
  src/app/pages/service-pages/cart-page.ts
Due: npm run lint, prettier --write

feat: add opportunity to delete item from cart(EA-144)
  src/app/pages/service-pages/cart-page.ts
  src/app/sdk/requests.ts
  src/assets/icons/trash-can.png
  src/styles/basket-page.scss
Due: npm run lint, stylelint, prettier --write

feat: update filter block on the catalog page
  src/app/components/filters-block.ts
  src/app/types/enums.ts
  src/assets/icons/multicolor.png
  src/assets/images/rainbow-bg.jpg
  src/styles/catalog-aside.scss
Due: npm run lint, stylelint, prettier --write

fix: correct deletion
  src/app/pages/service-pages/cart-page.ts
Due: npm run lint, prettier --write

fix: add return
  src/app/components/product-card.ts
Due: npm run lint, prettier --write

feat: update items amount on deletion
  src/app/helpers/update-items-amount.ts
  src/app/pages/catalog/product-page.ts
  src/app/pages/service-pages/cart-page.ts
  src/app/sdk/requests.ts
Due: npm run lint, prettier --write

feat: create sample page about us
  src/app/app.ts
  src/app/components/header.ts
  src/app/pages/about-us.ts
  src/app/router.ts
  src/app/types/route.ts
  src/assets/icons/avatar_test.jpg
  src/assets/icons/git_icon.png
  src/styles/about-us.scss
  src/styles/main.scss
Due: npm run lint, stylelint, prettier --write

feat: add pagination to the catalog page (EA-137)
  src/app/components/filters-block.ts
  src/app/components/pagination.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/sdk/middlewares.ts
  src/app/sdk/requests.ts
  src/styles/catalog-main.scss
Due: npm run lint, stylelint, prettier --write

refactor: change style about us
  src/app/pages/about-us.ts
  src/styles/about-us.scss
Due: npm run lint, stylelint, prettier --write

refactor: change style btn product
  src/styles/product.scss
Due: stylelint, prettier --write

fix: correct counter
  src/app/components/header.ts
  src/app/components/product-card.ts
  src/app/helpers/update-counter-items-amount.ts
  src/app/pages/catalog/product-page.ts
  src/app/pages/service-pages/cart-page.ts
  src/styles/cart-page.scss
Due: npm run lint, stylelint, prettier --write

refactor: remove extra request
  src/app/pages/service-pages/cart-page.ts
Due: npm run lint, prettier --write

fix: fix problems with pagination when filters applied
  src/app/components/filters-block.ts
  src/app/components/pagination.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/sdk/middlewares.ts
  src/app/sdk/requests.ts
Due: npm run lint, prettier --write

feat: add loading indicators when fetching and loading products
  src/app/components/filters-block.ts
  src/app/components/product-card.ts
  src/app/helpers/catalog.ts
  src/app/pages/catalog/catalog-page.ts
  src/styles/catalog-main.scss
Due: npm run lint, stylelint, prettier --write

refactor: change style card about us
  src/app/pages/about-us.ts
  src/assets/icons/avatar_a.jpg
  src/assets/icons/avatar_i.jpg
  src/styles/about-us.scss
Due: npm run lint, stylelint, prettier --write

feat: clear cart logic(EA-144)
  src/app/helpers/get-actions.ts
  src/app/pages/service-pages/cart-page.ts
  src/app/sdk/requests.ts
  src/styles/cart-page.scss
Due: npm run lint, stylelint, prettier --write

feat: add footer (EA-128)
  src/app/app.ts
  src/app/components/footer.ts
  src/assets/icons/github.svg
  src/styles/catalog-main.scss
  src/styles/footer.scss
  src/styles/general.scss
  src/styles/main.scss
Due: npm run lint, stylelint, prettier --write

fix: add confirm before clean
  src/app/pages/service-pages/cart-page.ts
  src/styles/cart-page.scss
Due: npm run lint, stylelint, prettier --write

feat: create about us (EA-150 / 151 / 153 / 154)
  src/app/pages/about-us.ts
  src/assets/icons/Thumbs.db
  src/assets/icons/avatar_k.jpg
  src/assets/icons/icon_rs.svg
  src/styles/about-us.scss
Due: npm run lint, stylelint, prettier --write

refactor: change for review (EA-150 / 151 / 153 / 154)
  src/app/pages/about-us.ts
  src/assets/icons/Thumbs.db
  src/assets/icons/avatar_test.jpg
  src/assets/icons/git_icon.png
  src/styles/about-us.scss
Due: npm run lint, stylelint, prettier --write

refactor: change style (EA-150 / 151 / 153 / 154)
  src/app/pages/about-us.ts
  src/styles/about-us.scss
Due: npm run lint, stylelint, prettier --write

refactor: change style #2 (EA-150 / 151 / 153 / 154)
  src/styles/about-us.scss
Due: stylelint, prettier --write

refactor: change style #3 (EA-150 / 151 / 153 / 154)
  src/app/pages/about-us.ts
  src/styles/main.scss
Due: npm run lint, stylelint, prettier --write

refactor: change style #4 (EA-150 / 151 / 153 / 154)
  src/styles/main.scss
Due: stylelint, prettier --write

feat: add info about the active promo code to the main page (EA-147)
  src/app/pages/main-page.ts
  src/assets/icons/coupon.png
  src/assets/images/foil-balloon.jpg
  src/styles/main-page.scss
  src/styles/main.scss
Due: npm run lint, stylelint, prettier --write

feat: correct add promo
  .vscode/settings.json
  src/app/pages/service-pages/cart-page.ts
  src/app/sdk/requests.ts
  src/styles/cart-page.scss
Due: npm run lint, stylelint, prettier --write

refactor: change style #5 (EA-150 / 151 / 153 / 154)
  src/app/pages/about-us.ts
  src/styles/about-us.scss
  src/styles/main.scss
Due: npm run lint, stylelint, prettier --write

feat: update cart info when promo code applied (EA-148)
  src/app/components/product-card.ts
  src/app/helpers/get-actions.ts
  src/app/pages/service-pages/cart-page.ts
  src/app/sdk/requests.ts
  src/styles/cart-page.scss
  src/styles/general.scss
  src/styles/login-form.scss
  src/styles/registration-form.scss
Due: npm run lint, stylelint, prettier --write
