Repository KateGoncharik/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, stylelint

feat: implement redirecting the user to the product page when clicking on the product card (EA-105)
  src/app/components/product-card.ts
  src/app/helpers/catalog.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/pages/catalog/product-page.ts
  src/app/router.ts
  src/app/types/catalog.ts
  src/styles/catalog.scss
Due: npm run lint, prettier --write, stylelint

feat: add validation for inputs, change edit logic(EA-113)
  src/app/edit/edit-user-profile.ts
  src/app/pages/service-pages/registration-page.ts
  src/app/pages/service-pages/user-profile.ts
  src/app/types/enums.ts
  src/app/validation/schemas/schemas-registration-form.ts
  src/app/validation/validation-registration-form.ts
  src/styles/main.scss
  src/styles/user-page.scss
Due: npm run lint, prettier --write, stylelint

refactor: change for review (EA-109)
  src/app/sdk/requests.ts
  src/styles/product.scss
Due: npm run lint, prettier --write, stylelint

feat: add breadcrumb navigation (EA-106)
  src/app/pages/catalog/catalog-page.ts
  src/styles/catalog.scss
Due: npm run lint, prettier --write, stylelint

feat: add modal image and slide
  src/app/helpers/modal-img.ts
  src/app/pages/catalog/product-page.ts
  src/styles/product.scss
  src/styles/slider.scss
Due: npm run lint, prettier --write, stylelint

feat: add opportunity to update personal info(EA-113,EA-114)
  src/app/edit/edit-user-profile.ts
  src/app/helpers/get-actions.ts
  src/app/helpers/get-full-country-name.ts
  src/app/pages/service-pages/registration-page.ts
  src/app/pages/service-pages/user-profile.ts
  src/app/router.ts
  src/app/sdk/requests.ts
  src/app/state.ts
  src/app/validation/validation-registration-form.ts
Due: npm run lint, prettier --write

feat: add modal image and slide (EA-110, EA-111)
  src/app/helpers/modal-img.ts
  src/app/helpers/slider.ts
  src/app/pages/catalog/product-page.ts
  src/app/sdk/requests.ts
  src/styles/product.scss
  src/styles/slider.scss
Due: npm run lint, prettier --write, stylelint

feat: create link for user page(EA-121, EA-122)
  src/app/components/burger.ts
  src/app/components/header.ts
  src/styles/header.scss
Due: npm run lint, prettier --write, stylelint

refactor: change for rewiew (EA-110, EA-111)
  src/app/app.ts
  src/app/helpers/modal-img.ts
  src/app/helpers/slider.ts
  src/app/router.ts
  src/app/sdk/requests.ts
  src/app/types/route.ts
  src/styles/product.scss
  src/styles/slider.scss
Due: npm run lint, prettier --write, stylelint

refactor: change for review #2 (EA-110, EA-111)
  src/app/helpers/modal-img.ts
  src/app/pages/catalog/product-page.ts
  src/app/sdk/requests.ts
  src/styles/product.scss
Due: npm run lint, prettier --write, stylelint

refactor: change for review #3 (EA-110, EA-111)
  src/app/helpers/modal-img.ts
Due: npm run lint, prettier --write

feat: add breadcrumbs and filters to catalog page (EA-101, EA-106)
  src/app/components/button.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/sdk/requests.ts
  src/app/types/enums.ts
  src/styles/catalog.scss
  src/styles/general.scss
Due: npm run lint, prettier --write, stylelint

refactor: change adaptive modal (EA-110, EA-111)
  src/app/helpers/modal-img.ts
  src/styles/product.scss
  src/styles/slider.scss
Due: npm run lint, prettier --write, stylelint

refactor: change style modal (EA-110, EA-111)
  src/styles/slider.scss
Due: stylelint

feat: add opportunity to edit password(EA-115)
  src/app/app.ts
  src/app/helpers/toggle-password-visibility.ts
  src/app/pages/catalog/product-page.ts
  src/app/pages/service-pages/edit-password-page.ts
  src/app/pages/service-pages/user-page.ts
  src/app/router.ts
  src/app/sdk/requests.ts
  src/app/types/route.ts
  src/app/validation/validation-registration-form.ts
  src/styles/user-page.scss
Due: npm run lint, prettier --write, stylelint

refactor: change pull
  src/app/app.ts
  src/app/components/button.ts
  src/app/helpers/modal-img.ts
  src/app/helpers/toggle-password-visibility.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/pages/catalog/product-page.ts
  src/app/pages/service-pages/edit-password-page.ts
  src/app/pages/service-pages/user-page.ts
  src/app/router.ts
  src/app/sdk/requests.ts
  src/app/types/enums.ts
  src/app/types/route.ts
  src/app/validation/validation-registration-form.ts
  src/styles/catalog.scss
  src/styles/general.scss
  src/styles/product.scss
  src/styles/slider.scss
  src/styles/user-page.scss
Due: npm run lint, prettier --write, stylelint

fix: change modal
  src/app/helpers/modal-img.ts
  src/app/pages/catalog/product-page.ts
Due: npm run lint, prettier --write

feat: add product search (EA-103)
  src/app/components/filters-block.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/types/catalog.ts
  src/assets/icons/magnifying-glass.svg
  src/styles/catalog.scss
Due: npm run lint, prettier --write, stylelint

feat: add and remove addresses(EA-116)
  src/app/app.ts
  src/app/helpers/get-actions.ts
  src/app/helpers/toggle-inputs-state.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/pages/service-pages/add-address-page.ts
  src/app/pages/service-pages/user-page.ts
  src/app/router.ts
  src/app/types/route.ts
  src/styles/user-page.scss
Due: npm run lint, prettier --write, stylelint

fix: fix problems from last merge
  src/app/pages/catalog/catalog-page.ts
  src/styles/catalog.scss
Due: npm run lint, prettier --write, stylelint

refactor: remove extra variables
  src/app/helpers/get-actions.ts
Due: npm run lint, prettier --write

refactor: create getUserOrError function
  src/app/helpers/get-user-or-error .ts
  src/app/pages/service-pages/add-address-page.ts
  src/app/pages/service-pages/edit-password-page.ts
  src/app/pages/service-pages/user-page.ts
  src/app/sdk/requests.ts
  src/app/state.ts
Due: npm run lint, prettier --write

refactor: format files using prettier (EA-156)
  .lintstagedrc.json
  package.json
  src/index.html
  src/styles/main.scss
  src/styles/product.scss
  src/styles/slider.scss
  src/styles/user-page.scss
Due: stylelint

fix: correct addresses render
  src/app/pages/service-pages/add-address-page.ts
  src/app/pages/service-pages/user-page.ts
Due: npm run lint, prettier --write

feat: add opportunity to edit gender
  src/app/pages/service-pages/user-page.ts
  src/app/state.ts
  src/app/validation/validation-registration-form.ts
  src/styles/user-page.scss
Due: npm run lint, prettier --write, stylelint

feat: add products not found message (EA-157)
  .prettierignore
  src/app/components/filters-block.ts
  src/app/pages/catalog/catalog-page.ts
  src/assets/icons/nothing-found.png
  src/styles/catalog.scss
Due: npm run lint, prettier --write, stylelint

feat: add the add to card button on product cards (EA-135)
  src/app/components/product-card.ts
  src/assets/icons/add.png
  src/styles/catalog-aside.scss
  src/styles/catalog-main.scss
  src/styles/main.scss
Due: npm run lint, prettier --write, stylelint

feat: display products from cart, create routing to cart(EA-142, EA-152)
  src/app/app.ts
  src/app/components/burger.ts
  src/app/components/header.ts
  src/app/pages/service-pages/basket-page.ts
  src/app/router.ts
  src/app/sdk/requests.ts
  src/app/types/route.ts
  src/styles/basket-page.scss
  src/styles/main.scss
Due: npm run lint, prettier --write, stylelint

feat: add message and link to the empty cart(EA-146)
  src/app/pages/service-pages/basket-page.ts
  src/styles/basket-page.scss
  src/styles/main.scss
Due: npm run lint, prettier --write, stylelint

feat: add link in icon, empty cart message
  src/app/components/header.ts
  src/styles/basket-page.scss
Due: npm run lint, prettier --write, stylelint

feat: handle with different authorization flows (EA-136)
  src/app/components/product-card.ts
  src/app/sdk/build-client.ts
  src/app/sdk/middlewares.ts
  src/app/sdk/params.ts
  src/app/sdk/requests.ts
  src/app/state.ts
Due: npm run lint, prettier --write

feat: change quantity of products(EA-143)
  src/app/pages/service-pages/basket-page.ts
  src/app/sdk/requests.ts
  src/assets/icons/minus.png
  src/styles/basket-page.scss
Due: npm run lint, prettier --write, stylelint

feat: add recalculation after quantity change(EA-143)
  src/app/app.ts
  src/app/components/header.ts
  src/app/helpers/toggle-icons-state.ts
  src/app/pages/service-pages/basket-page.ts
  src/app/pages/service-pages/cart-page.ts
  src/app/router.ts
  src/app/sdk/requests.ts
  src/app/types/route.ts
  src/styles/basket-page.scss
Due: npm run lint, prettier --write, stylelint

feat: configure adding products in cart from the catalog page (EA-136)
  src/app/components/filters-block.ts
  src/app/components/product-card.ts
  src/app/helpers/catalog.ts
  src/app/pages/catalog/catalog-page.ts
  src/app/sdk/middlewares.ts
  src/app/sdk/requests.ts
  src/app/types/catalog.ts
  src/assets/animation/load-indicator.json
  src/styles/catalog-main.scss
Due: npm run lint, prettier --write, stylelint

feat: add tests request for EA-139
  src/app/pages/catalog/product-page.ts
  src/app/sdk/middlewares.ts
  src/app/sdk/requests.ts
  src/app/types/data-product.ts
  src/styles/product.scss
Due: npm run lint, prettier --write, stylelint

fix: correct decreasing items amount
  src/app/pages/service-pages/cart-page.ts
Due: npm run lint, prettier --write

feat: correct currency, update total price
  src/app/components/product-card.ts
  src/app/helpers/get-price-in-usd.ts
  src/app/pages/service-pages/cart-page.ts
Due: npm run lint, prettier --write

style: make price more attractive
  src/styles/basket-page.scss
Due: stylelint

feat: add products counter(EA-155)
  src/app/components/burger.ts
  src/app/components/header.ts
  src/app/pages/service-pages/cart-page.ts
  src/styles/basket-page.scss
  src/styles/header.scss
Due: npm run lint, prettier --write, stylelint

feat: add Product to Cart EA-139
  src/app/pages/catalog/product-page.ts
  src/app/sdk/requests.ts
  src/styles/product.scss
Due: npm run lint, prettier --write, stylelint

Path conditions:
  npm run lint: any of: *.ts
  prettier --write: any of: *.ts
  stylelint: any of: *.{css,scss}
